<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet"  type="text/css" href="/css/home-page.css" media="screen  and (min-width: 600px)"/>
<link rel="stylesheet" type="text/css" href="/css/mobile.css" media="only screen and (max-width: 600px)" />

</head>
    <div class="topbar">
    <link href='https://fonts.googleapis.com/css?family=Assistant' rel='stylesheet'>
    <div class = topbar>
    <h1 style="font-family: 'Assistant'"> QuicFic </h1>
        <div class = home-button>
            <a href="https://a6-alan-angel.herokuapp.com/index">
            <img class="resize" src="images/HOME2.PNG" >
    		</a>
        </div>
    </div>
	
</div>
        {{!-- <link rel="stylesheet" href="/public/css/w3.css"> 
        <div class = login>
        <form action = "http://www.example.com/login/" method = "post">
            <label for="username">Username:</label>
            <input type = "text" name="username"
                required="required" /> <br />
                <label for="password">Password:</label>
                <input type ="password" name="password" required="required" />
                <input type="submit" value="Submit" />
        </form>
        --}} 
    </div>
</head>


<body>

    
<!-- Navigation -->
<nav>
    <div class="topnav">
        <input type="text" class ="searchText" placeholder="Search Tags.." >
        <a href = "/secondPage">
        <button class="button">Go!</button>
    </a>
    </div>
</nav>


<h2 style="font-family: 'Assistant'"> APPLIED TAGS </h2>
<div id = "dark-blue-box" class ="container">
    <div class = "container-tags"></div>
    

    <a href="/Horror">
      <p-button id="light-blue-tags">
        <tag-text> Horror </tag-text>
      </p-button>
    </a>


    <a href="/Romance">
      <p-button id="light-blue-tags">
        <tag-text> Romance </tag-text>
      </p-button>
    </a>


    <a href="/Sports">
      <p-button id="light-blue-tags">
        <tag-text> Sports </tag-text>
      </p-button>
    </a>


    </div>

    <h2 style="font-family: 'Assistant'"> GENRES </h2>
    <div id = "light-blue-box" class ="container">
        <div class = "container-tags"></div>
            <p-button id="dark-blue-tags"></p-button>
            <p-button id="dark-blue-tags"></p-button>
            <p-button id="dark-blue-tags"></p-button>
            <p-button id="dark-blue-tags"></p-button>
            <p-button id="dark-blue-tags"></p-button>
            <p-button id="dark-blue-tags"></p-button>
            <p-button id="dark-blue-tags"></p-button>
            <p-button id="dark-blue-tags"></p-button>
            <p-button id="dark-blue-tags"></p-button>
            <p-button id="dark-blue-tags"></p-button>
            <p-button id="dark-blue-tags"></p-button>
            <p-button id="dark-blue-tags"></p-button>
            <p-button id="dark-blue-tags"></p-button>
            <p-button id="dark-blue-tags"></p-button>
            <p-button id="dark-blue-tags"></p-button>
            <p-button id="dark-blue-tags"></p-button>
            <p-button id="dark-blue-tags"></p-button>
            <p-button id="dark-blue-tags"></p-button>
    
        </div>

      

        <h2 style="font-family: 'Assistant'"> TROPES </h2>
        <div id = "light-blue-box" class ="container">
            <div class = "container-tags"></div>
            <p-button id="dark-blue-tags"></p-button>
            <p-button id="dark-blue-tags"></p-button>
            <p-button id="dark-blue-tags"></p-button>
            <p-button id="dark-blue-tags"></p-button>
            <p-button id="dark-blue-tags"></p-button>
            <p-button id="dark-blue-tags"></p-button>
            <p-button id="dark-blue-tags"></p-button>
            <p-button id="dark-blue-tags"></p-button>
            <p-button id="dark-blue-tags"></p-button>
            <p-button id="dark-blue-tags"></p-button>
            <p-button id="dark-blue-tags"></p-button>
            <p-button id="dark-blue-tags"></p-button>
            <p-button id="dark-blue-tags"></p-button>
            <p-button id="dark-blue-tags"></p-button>
            <p-button id="dark-blue-tags"></p-button>
            <p-button id="dark-blue-tags"></p-button>
            <p-button id="dark-blue-tags"></p-button>
            <p-button id="dark-blue-tags"></p-button>
        
            </div>

            <h2 style="font-family: 'Assistant'"> MOOD </h2>
            <div id = "light-blue-box" class ="container">
                <div class = "container-tags"></div>
                <p-button id="dark-blue-tags"></p-button>
                <p-button id="dark-blue-tags"></p-button>
                <p-button id="dark-blue-tags"></p-button>
                <p-button id="dark-blue-tags"></p-button>
                <p-button id="dark-blue-tags"></p-button>
                <p-button id="dark-blue-tags"></p-button>
                <p-button id="dark-blue-tags"></p-button>
                <p-button id="dark-blue-tags"></p-button>
                <p-button id="dark-blue-tags"></p-button>
                <p-button id="dark-blue-tags"></p-button>
                <p-button id="dark-blue-tags"></p-button>
                <p-button id="dark-blue-tags"></p-button>
                <p-button id="dark-blue-tags"></p-button>
                <p-button id="dark-blue-tags"></p-button>
                <p-button id="dark-blue-tags"></p-button>
                <p-button id="dark-blue-tags"></p-button>
                <p-button id="dark-blue-tags"></p-button>
                <p-button id="dark-blue-tags"></p-button>
            
                </div>
</div>

 <!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery.js"></script>
</body>
</html>

