<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">


<style>

body {
  background-color: #E9FBFF;
}

input { margin-bottom: 10px; }

.login {float: right; margin: 4px;}

.button{
  border: none;
  color: rgb(112, 112, 112);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.button2 {
  background-color: #00D1FF;
} /* Blue */

.button2 {float: right; margin: 4px;}

.topnav {
  overflow: hidden;
  background-color: #83E9FF;

}

/* Style the search box inside the navigation bar */
.topnav input[type=text] {
  float: left;
  padding: 12px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

.home-button{float: right; margin: 4px;}


p-button {
  display: inline-block;
  font-family:Georgia, 'Times New Roman', Times, serif;
  color: white;
  }

/* mouse over link */
#light-blue-tags:hover {
opacity: .4;
}

.arrow {
  border: solid rgb(255, 255, 255);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

#title-tags:hover {
  opacity: .4;
}

#book-listings{
border-radius: 0px;
margin: 15px; 
background: #ffffff;
height: 100%;
width: 98%; 
border:5px solid #83E9FF;
}

#book-entry{
border-radius: 0px;
margin: 25px;
padding: 50px; 
background: #BEF3FF;
height: 100%;
width: 98%;
}

#book-image{
border-radius: 0px;
height: 100%;
    width: 100%;
}

h-entry{
position: relative;
margin: auto;
font-size: 50px;
font-weight: 600; 
white-space: pre;

}   

#title-tags {
  border:1px solid black;
  border-radius: 35px;
  background: #00D1FF;
  padding: 10px; 
  width: 15%;
  height: 8%;  
}

div.tags{
  position: relative;
  bottom: 150px;
  left: 259px;
  width: 500px;
}

.dropbtn {
  background-color: #4ca0af;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  border: black;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #00D1FF;
}

.w3-bar{
  height:100%;
}

</style>

</head>
    <h1> QuicFic </h1>
        <div class = home-button>
            <a href="https://a6-alan-angel.herokuapp.com/index">
            <img border="0" alt="W3Schools" src="images/home-button.PNG" width="100" height="70">
        </a>
        </div>

      {{!

        <div class = login>
        <form action = "http://www.example.com/login/" method = "post">
            <label for="username">Username:</label>
            <input type = "text" name="username"
                required="required" /> <br />
                <label for="password">Password:</label>
                <input type ="password" name="password" required="required" />
                <input type="submit" value="Submit" />
        </form>
    </div>
    }}
</head>


<body>


<!-- Navigation -->
  <div class="dropdown">
    <button class="dropbtn">Applied Tags</button>
    <div class="dropdown-content">
      {{#each novels}}
        <p>{{tag}}</p>
      {{/each}}
    </div>
  </div>


{{#each novels}}
<div id = "book-listings">
    <div id = "book-entry">
        <div id = "book-image">
          <img src={{imageURL}} width="250" height="325">
              <h-entry> {{title}} </h-entry>
      <div class = "tags">
        <a href="https://google.com">
          <p-button id="title-tags"> {{tag}} </p-button>
          <p-button id="title-tags"> Mystery </p-button>
          <p-button id="title-tags"> Historic </p-button>
          <p-button id="title-tags"> Ecchi </p-button>
          <p-button id="title-tags"> Harem </p-button>
        </a>
      </div>
    </div>
</div>
</div>
{{/each}}

 <!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery.js"></script>
</body>
</html>
